html {
    font-family: 'Palanquin', sans-serif;
    background-image: url('rachel-park-hrlvr2ZlUNk-unsplash.jpg');
    background-size: 100%;
    overflow: scroll; 
    width: 100%;
    height: 100%;
}

#daily_intake {
    display: block;
    height: 73vh; 
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    padding: 0.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    background: rgba(230, 87, 0, 1);
    border: #00aab5 solid 5px;
    border-radius: 8px;
    color: black;
  }