<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="./css/about_us_styles.css" type="text/css">
        <link rel="icon" href="./img/burger-icon.ico">
    </head>
    <body>
        <header>
            <div id="header-logo">
                <a href='./#index' title="Return to Smart Dining Services Homepage">
                    <img id="logo" src='./img/sdslogo.png' width="145" height="144" alt="Logo: SDS" />
                </a>
            </div>
            <div id="header-section" role="navigation">
                <a href='./#index'>
                    <div id="group">Smart Dining Services</div>
                    <div id="title">About Us</div>
                </a>
            </div>
        </header>
        <header>
            <!--Navigation Bar-->
            <b><div class="topnav">
                <a href="./#index">Home</a>
                <a class="active">About Us</a>
                <a href="./calorie"">Smart Dining Form</a>
            </div></b>
        </header>

        <article>
            <div id="features">
                <h2><em>About the Team and the Project</em></h2>
                <img id="teampic" src="./img/teampic.jpg" alt="Team picture"/>
                <p id="description">
                    Smart Dining is a website created by four freshmen, Shravan Hariharan, Shungo Najima, Max Cohen, and Elias Fang at SD Hacks 2019, UC San Diego’s hackathon event. The four freshmen decided to gear the project towards the Health and Wellness track and constructed a website that would take users’ desired calorie amounts and return the optimal meal at each dining hall.
                    <br/>
                    <br/>
                    Using this app would allow students and faculty members at UC San Diego to make wiser dietary choices, allowing for the improvement of health and wellness of the UCSD community overall. And from the four of us: happy eating!
                </p>
            </div>
        </article>

        <footer>
            <p>Any problems with the site? Feel free to <a id="address" href = "mailto: shungo.najima@gmail.com">email us!</a></p>
        </footer>
    </body>
</html>
