<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/calorie_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="description" value="UCSD Smart Dining">
    <title>UCSD Smart Dining</title>
  </head>
  <body>
    <h1>UCSD Smart Dining</h1>
    <!--Navigation Bar-->
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <div class="search-container">
        <form>
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </body>
</html>