<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/calorie_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="./img/burger-icon.ico">
    <meta charset="UTF-8">
    <meta name="description" value="UCSD Smart Dining">
    <title>Fill Calorie Form</title>
  </head>
  <body>
    <header>
      <div id="header-logo">
          <a href='./#index' title="Return to Smart Dining Services Homepage">
              <img id="logo" src='./img/sdslogo.png' width="145" height="144" alt="Logo: SDS" />
          </a>
      </div>
      <div id="header-section" role="navigation">
          <a href='./#index'>
              <div id="group">Smart Dining Services</div>
              <div id="title">Calorie Filter</div>
          </a>
      </div>
    </header>
    <header>
      <!--Navigation Bar-->
      <b><div class="topnav">
        <a href="./#index">Home</a>
        <a href="./about">About Us</a>
        <a class="active">Smart Dining Form</a>
      </div></b>
    </header>
    <!--Box-->

    <article>
    <!--Search Low to High-->
      <div class="search-container">
        <input id="searchone" name="search" type="text" class="search" placeholder="Lower Bound">
        <input id="searchtwo" name="search" type="text" class="search" placeholder="Upper Bound">
        <br/>
        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        <p id="instructions">Enter your desired calorie range in
          <br/>the fields above, and we will give you dietary
          <br/>recommendations based on your inputs!</p>
      </div>
    </article>

    <!--Footer-->
    <footer>
      <p>Any problems with the site? Feel free to <a id="address" href = "mailto: shungo.najima@gmail.com">email us!</a></p>
    </footer>
  </body>
</html>