<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/calorie_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://hdh-web.ucsd.edu/dining/apps/diningservices/favicon.ico">
    <meta charset="UTF-8">
    <meta name="description" value="UCSD Smart Dining">
    <title>UCSD Smart Dining</title>
  </head>
  <body>
    <header>
      <div id="header-logo">
          <a href='https://hdh-web.ucsd.edu/dining/apps/diningservices/' title="Return to Housing Dining Hospitality Homepage">
              <img id="logo" src='https://hdh-web.ucsd.edu/dining/apps/diningservices/images/Logo-HDH.png' width="145" height="144" alt="Logo:  HDH" />
          </a>
      </div>
      <div id="header-section" role="navigation">
          <a href='./#index'>
              <div id="group">Smart Dining Services</div>
              <div id="title">Calorie Filter</div>
          </a>
      </div>
  </header>
    <!--Navigation Bar-->
    <b><div class="topnav">
      <a href="./#index">Home</a>
      <a href="./about">About Us</a>
      <a class="active">Smart Dining Form</a>
    </div></b>

    <!--Box-->

    <!--Search Low to High-->
    <div class="search-container">
      <form action="/dining" method="POST" enctype="application/x-www-form-urlencoded">
        <input id="searchone" name="searchone" type="text" class="search" placeholder="Lower Bound">
        <input id="searchtwo" name="searchtwo" type="text" class="search" placeholder="Upper Bound">
        <br/>
        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
      </form>    
      <p id="instructions">Enter your desired calorie range in
        <br/>the fields above, and we will give you dietary
        <br/>recommendations based on your inputs!</p>
    </div>

    <!--Footer-->
    <footer>
      <p>Any problems with the site? Feel free to <a id="address" href = "mailto: shungo.najima@gmail.com">email us!</a></p>
    </footer>
  </body>
</html>