<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/calorie_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://hdh-web.ucsd.edu/dining/apps/diningservices/favicon.ico">
    <meta charset="UTF-8">
    <meta name="description" value="UCSD Smart Dining">
    <title>UCSD Smart Dining</title>
  </head>
  <body>
    <header>
      <div id="header-logo">
          <a href='https://hdh-web.ucsd.edu/dining/apps/diningservices/' title="Return to Housing Dining Hospitality Homepage">
              <img id="logo" src='https://hdh-web.ucsd.edu/dining/apps/diningservices/images/Logo-HDH.png' width="145" height="144" alt="Logo:  HDH" />
          </a>
      </div>
      <div id="header-section" role="navigation">
          <a href='https://hdh-web.ucsd.edu/dining/apps/diningservices/'>
              <div id="group">Smart Dining Services</div>
              <div id="title"><b>Calorie Filter</b></div>
          </a>
      </div>
  </header>
    <!--Navigation Bar-->
    <b><div class="topnav">
      <a class="active" href="#home">HOME</a>
      <a href="#about">ABOUT US</a>
    </div></b>

    <!--Box-->
    <div class=>

    </div>

    <!--Search Low to High-->
    <center><div class="search-container">
      <input id="searchone" name="search" type="text" class="search" placeholder="Enter low">
      <input id="searchtwo" name="search" type="text" class="search" placeholder="Enter high">
      <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
    </div></center>

    <!--Footer-->
    <footer>
      <p>Any problems with the site? Feel free to <a href = "mailto: shungo.najima@gmail.com">email us!</a></p>
    </footer>
  </body>
</html>