html {
    font-family: 'Palanquin', sans-serif;
    background-image: url('about-us-background.jpg');
    background-size: 100%;
    overflow: scroll; 
    width: 100%;
}

header {
    left: 0;
    top: 0;
    height: 120px;
    color: white;
 }

#group {
    font-size: 1.8em;
    line-height: 1.0em;
}

#title {
    font-size: 2.4em;
}

#header-logo {
    float: left;
}

#header-section {
    width: 30%;
    margin-left: 1%;
    padding-top: 25px;
    float: left;
    color: white;
}

    #header-section a:link {
        color: #ffffff;
        text-decoration: none;
    }

    #header-section a:visited {
        color: #ffffff;
    }

    #header-section a:hover, #header-section a:active, #header-section a:focus {
        color: #000080;
    }

    #header-section a div {
        display: block;
        width: 100%;
    }

#features {
    background: #00aab5;
}

h2 {
    font-size: 50px;
    color: white;
}

.description {
    font-size: 20px;
    color: white;
}

article {
    padding-left: 3em;
    padding-bottom: 0.5em;
}

#teampic {
    float: right;
    height: 60vh;
    margin-right: 2em;
    margin-top: -4em;
    margin-left: 2em;
}