html {
    font-family: 'Palanquin', sans-serif;
    background-image: url('joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg');
    background-size: 100%;
    overflow: scroll; 
    width: 100%;
}

header {
    left: 0;
    top: 0;
    height: 200px;
    color: white;
    margin-bottom: 15em;
}

body {
    text-align: center;
    color: white;
}

#group {
    font-size: 3.2em;
    line-height: 1.2em;
}

#header-logo {
    position:relative;
    width: 100%;
    display: inline-block;
}

    #header-logo img {
        margin-top: 50px;
        margin-left: 25px;
        right: 0;
        bottom: 0;
        height: auto;
        width: 200px;
    }

#header-section {
    width: 100%;
    margin-left: 1%;
    padding-top: 15px;
    color: white;
}

    #header-section a:link {
        color: #ffffff;
        text-decoration: none;
    }

    #header-section a:visited {
        color: #ffffff;
    }

    #header-section a:hover, #header-section a:active, #header-section a:focus {
        color: #e65700;
    }

    #header-section a div {
        display: block;
        width: 100%;
    }

input.get-started-button {
    width: 500px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background-color: rgba(64, 95, 158, 0);
    color: white;
    border: 5px solid white/*#3366cc*/;
    border-radius: 10px;
    margin-bottom: 6em;
}

input.get-started-button:hover {
    color: white;
    /*background: #4ab4ff;*/
    border-color: #00aab5;
}

#features {
    background: #00aab5;
}

#contributors {
    background: #d4af37;
    padding-bottom: 1em;
    padding-top: 1em;
}

h1 {
    padding-top: 0.5em;
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.pics {
    border-radius: 50%;
}

.description {
    font-size: 30px;
}

.grad-and-major {
    font-size: 20px;
}

.column {
    float: left;
    width: 23%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

#learn-more {
    margin-top: 15em;
    font-size: 30px;
}