/* Set background image */
html {
    font-family: 'Palanquin', sans-serif;
    background: url(../img/burrito_background.jpg) no-repeat center center fixed;
    background-size: 100%;
    overflow: scroll; 
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

header, article {
    margin: 25px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #e65700;
    overflow: hidden;
    border-radius: 15px;
    margin-top: -65px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 900;   
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffa01c;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ffa01c;
    color: white;
    text-align: center;
    font-size: 2em;
}

footer {
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #d4af37;
    color: white;
    text-align: center;
    font-size: 2em;
}

header {
    left: 0;
    top: 0;
    height: 200px;
    color: white;
 }

#group {
    font-size: 1.8em;
    line-height: 1.0em;
}

#title {
    font-size: 2.4em;
}

#header-logo {
    float: left;
}

#header-section {
    width: 30%;
    margin-left: 1%;
    padding-top: 25px;
    float: left;
    color: white;
}

#header-section a:link {
    color: #ffffff;
    text-decoration: none;
}

#header-section a:visited {
    color: #ffffff;
}

#header-section a:hover, #header-section a:active, #header-section a:focus {
    color: #000080;
}

#header-section a div {
    display: block;
    width: 100%;
}

.search-container {
    margin: auto;
    width: 50em;
    border-radius: 15px;
    background-color: #00aab5;
    height: 21em;
    text-align: center;
    margin-top: -8em;
}

#instructions {
    margin-top: -0.1em;
    font-size: 30px;
    color: white;
}

.search {
    width: 30%;
    border: 3px solid #00aab5;
    background-color: #4dfff6;
    padding: 5px;
    height: 35px;
    font-size: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 0.5em;
}

.searchButton {
    margin-top: 0.5em;
    width: 3em;
    height: 2.8em;
    border: 3px solid #e65700;
    border-radius: 5px;
    background: #e65700;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#address:link {
    color: #e65700;
    text-decoration: none;
}

#address:visited {
    color: #e65700;
}

#address:hover, #address:active, #address:focus {
    color: #870000;
}