/* Styling the entire page */
body {
    font-family: 'Palanquin', sans-serif;
    background: url(../img/burrito_background.jpg);
    background-size: 100%;
    overflow: scroll; 
    display: flex;
    flex-direction: column;
    margin: 0;
  }

header, article {
    margin: 25px;
}

/* Styling the nav bar */
.topnav {
    background-color: #e65700;
    overflow: hidden;
    border-radius: 20px;
    margin-top: -30px;
}

/* Styling the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px; 
}

.topnav a:hover {
    background-color: #ffa01c;
}

.topnav a.active {
    background-color: #ffa01c;
    color: white;
    text-align: center;
}

/* Styling for the footer and header */
footer {
    width: 100%;
    background-color: #d4af37;
    color: white;
    text-align: center;
    font-size: 30px;
}

header {
    color: white;
 }

.group {
    font-size: 25px;
    line-height: 25px;
}

.title {
    font-size: 40px;
}

.header-logo {
    float: left;
}

.header-section {
    padding-top: 35px;
    float: left;
    color: white;
}

.header-section a:link {
    color: #ffffff;
    text-decoration: none;
}

.header-section a:visited {
    color: #ffffff;
}

.header-section a:hover, .header-section a:active, .header-section a:focus {
    color: #e65700;
}

.header-section a div {
    display: block;
    width: 100%;
}

/* Styling for the "email us" message at the bottom of screen */
.address:link {
    color: #e65700;
    text-decoration: none;
}

.address:visited {
    color: #e65700;
}

.address:hover, .address:active, .address:focus {
    color: #870000;
}

/* Styling for the search container */
.search-container {
    margin: auto;
    width: 700px;
    border-radius: 15px;
    background-color: #00aab5;
    padding: 20px;
    text-align: center;
    margin-top: 0;
}

.instructions {
    font-size: 30px;
    color: white;
    line-height: 60px;
}

.search {
    width: 30%;
    border: 3px solid #00aab5;
    background-color: #4dfff6;
    padding: 10px;
    height: 35px;
    font-size: 30px;
    border-radius: 15px;
    display: inline-block;
    margin: 15px;
}

.searchButton {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border: 3px solid #e65700;
    border-radius: 5px;
    background: #e65700;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

/* TABLET compatibility */
@media (max-width: 900px) {

    footer {
        font-size: 20px;
    }

    .search-container {
        width: 500px;
    }
    
    .instructions {
        font-size: 25px;
        color: white;
        line-height: 50px;
    }
    
    .search {
        height: 25px;
        font-size: 20px;
    }
    
    .searchButton {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

}
  
  /* MOBILE compatibility */
  @media (max-width: 600px) {
  
    .header-logo {
        float: none;
        text-align: center;
    }

    .header-section {
        text-align: center;
        margin: auto;
        float: none;
    }

    .topnav a {
        font-size: 4vw;
        padding: 2.2vw 2.6vw;
    }

    footer {
        font-size: 4vw;
    }
  
    .search-container {
        width: 500px;
    }
    
    .instructions {
        font-size: 25px;
        color: white;
        line-height: 50px;
    }

    .search-container {
        width: 60vw;
        padding: 10px;
    }
    
    .instructions {
        font-size: 6vw;
        color: white;
        line-height: 10vw;
    }
    
    .search {
        margin: 2vw;
        height: 15px;
        font-size: 2vw;
    }
    
    .searchButton {
        width: 10vw;
        height: 10vw;
        font-size: 4vw;
    }

  }
  