/* Styling the entire page */
body {
    font-family: 'Palanquin', sans-serif;
    background: url(../img/home_background.jpg);
    background-size: 100%;
    overflow: scroll; 
    display: flex;
    flex-direction: column;
    margin: 0;
  }

header, article {
    margin: 25px;
}

/* Styling the nav bar */
.topnav {
    background-color: #e65700;
    overflow: hidden;
    border-radius: 20px;
}

/* Styling the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px; 
}

.topnav a:hover {
    background-color: #ffa01c;
}

.topnav a.active {
    background-color: #ffa01c;
    color: white;
    text-align: center;
}

body {
    text-align: center;
    color: white;
}

.group {
    font-size: 50px;
}

.header-logo {
    width: 100%;
}

    .header-logo img {
        margin-top: 40px;
        right: 0;
        bottom: 0;
        height: auto;
    }

.header-section {
    width: 100%;
    margin-top: 15px;
    color: white;
}

    .header-section a:link {
        color: #ffffff;
        text-decoration: none;
    }

    .header-section a:visited {
        color: #ffffff;
    }

    .header-section a:hover {
        color: #e65700;
    }

    .header-section a div {
        display: block;
        width: 100%;
    }

input.get-started-button {
    width: 400px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background-color: rgba(64, 95, 158, 0.3);
    color: white;
    border: 5px solid white/*#3366cc*/;
    border-radius: 10px;
    margin-bottom: 150px;
}

input.get-started-button:hover {
    color: #00aab5;
    border-color: #00aab5;
}

article {
    background: #00aab5;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.contributors {
    background: #d4af37;
    padding-bottom: 10px;
    border-radius: 15px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 2.3vw;
}

.pics {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

.description {
    font-size: 30px;
}

.grad-and-major {
    font-size: 1.5vw;
}

.column {
    float: left;
    width: 25%;
}

.learn-more {
    font-size: 30px;
}

.about:link {
    color: #e65700;
    text-decoration: none;
}

.about:visited {
    color: #e65700;
}

.about:hover, .about:active, .about:focus {
    color: #870000;
}

/* TABLET compatibility */
@media (max-width: 900px) {

    footer {
        font-size: 20px;
    }

    .learn-more {
        font-size: 25px;
    }

    .description {
        font-size: 25px;
    }

    h2 {
        font-size: 40px;
        margin: 20px;
    }

}
  
  /* MOBILE compatibility */
  @media (max-width: 600px) {
  
    footer {
        font-size: 20px;
    }

    .topnav a {
        font-size: 4vw;
        padding: 2.2vw 2.6vw;
    }

    .learn-more {
        font-size: 2vw;
    }

    .description {
        font-size: 15px;
    }

    h2 {
        font-size: 30px;
        margin: 10px;
    }

    h1 {
        font-size: 40px;
    }

    .group {
        font-size: 8vw;
    }

    input.get-started-button {
        width: 50vw;
        font-size: 5vw;
        margin-bottom: 50px;
    }

  }
  