html {
    font-family: 'Palanquin', sans-serif;
    background-image: url('../img/home_background.jpg');
    background-size: 100%;
    overflow: scroll; 
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #e65700;
    overflow: hidden;
    border-radius: 1rem;
    margin-top: 1rem;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 900;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffa01c;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ffa01c;
    color: white;
}

body {
    margin: 25px;
}

header {
    left: 0;
    top: 0;
    height: 10rem;
    color: white;
    margin-bottom: 15rem;
}

body {
    text-align: center;
    color: white;
}

#group {
    font-size: 3.2rem;
    line-height: 2.2rem;
}

#header-logo {
    position:relative;
    width: 100%;
    display: inline-block;
}

    #header-logo img {
        margin-top: 2.5rem;
        right: 0;
        bottom: 0;
        height: auto;
        width: 200px;
    }

#header-section {
    width: 100%;
    padding-top: 1rem;
    color: white;
}

    #header-section a:link {
        color: #ffffff;
        text-decoration: none;
    }

    #header-section a:visited {
        color: #ffffff;
    }

    #header-section a:hover {
        color: #e65700;
    }

    #header-section a div {
        display: block;
        width: 100%;
    }

input.get-started-button {
    width: 25rem;
    padding: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background-color: rgba(64, 95, 158, 0);
    color: white;
    border: 5px solid white/*#3366cc*/;
    border-radius: 10px;
    margin-bottom: 11rem;
}

input.get-started-button:hover {
    color: #00aab5;
    border-color: #00aab5;
}

article {
    background: #00aab5;
    border-radius: 15px;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    padding-top: 0.2rem;
}

#contributors {
    background: #d4af37;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    border-radius: 15px;
}

h1 {
    padding-top: 0.4rem;
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.pics {
    border-radius: 50%;
}

.description {
    font-size: 30px;
    line-height: 4rem;
}

.grad-and-major {
    font-size: 20px;
}

.column {
    float: left;
    width: 23%;
    padding: 0.7rem;
    height: 23rem; /* Should be removed. Only for demonstration */
  }

#learn-more {
    font-size: 30px;
}

#about:link {
    color: #e65700;
    text-decoration: none;
}

#about:visited {
    color: #e65700;
}

#about:hover, #about:active, #about:focus {
    color: #870000;
}