<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <title>Your Calorie Intake</title>
    <link rel="stylesheet" href="user_intake_styles.css" type="text/css">
    <link rel="icon" href="https://hdh-web.ucsd.edu/dining/apps/diningservices/favicon.ico">
  </head>
  <body>
    <div id="daily_intake">    
        <p style="font-size: 35px;">Your daily calorie intake:</p>
        <p style="font-size: 25px;">Breakfast: 100000 calories</p>
        <p style="font-size: 25px;">Lunch: -1 calories</p>
        <p style="font-size: 25px;">Dinner: 12345 calories</p>
        <p style="font-size: 25px;">Total intake: 112344 calories</p>
        <p style="font-size: 35px; text-align: center; font-weight: bold;">U bad man</p>
    </div>
  </body>
</html>
